.card-background-page {

   background-color: color($colors, bckground);

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 40px;
      width: 100%;
      font-weight: bold;
      color: rgb(255, 254, 254);
      text-shadow: 0 0 20px #00e1ff;
    }
  
    .card-subtitle {
      font-size: 20px;
      position: absolute;
      top: 52%;
      width: 100%;
      color: rgb(253, 250, 250);
      text-shadow: 0 0 30px #070707;
    }

    .img{
      height: 300px;
      width: 1024px;
      filter: blur(2px);
      -webkit-filter: blur(2px);
    }
  
  }