// .home{
//     background-image: url('assets/imgs/Logo2.jpeg') no-repeat;
//     background-size: cover;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
// //     background-position: center;
// //     margin: auto;
// //     z-index: 2;
// }

// .home.scroll-content{
//     background: url('assets/imgs/Logo2.jpeg') no-repeat;
//     background-size: cover;
//     background-position: center;
//     margin: auto;
//     z-index: 2;
//     }

.home{
    background-color: color($colors, bckground);
}
.marginTop{
    margin-top: 50px;
    text-align: center;
}

.logo{
    height: 100px;
    width: 170px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
}

// @font-face {
//     font-family: 'Humanst';
//     src: url('../assets/fonts/roboto-light.woff2') format('woff2'), url('../assets/fonts/roboto-light.woff') format('woff');
//     font-weight: normal;
//     font-style: oblique;
//   }
  
//   * {
//     font-family: 'Humanst';
//   }

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}
